body{
    width: 100%;;
    height: 100%;
    background-color: black;
    margin: 0 ;
    align-items: center;
    position: relative;
}

#about
{
    margin-top: 0;
    width: 25%;
    height: 100vh;
    background-color: rgb(28, 32, 29);
    max-height: 100vh;
    float: left;
}
#home
{
    margin-top: 0;
    width:75%;
    background-color:rgb(24, 24, 18);
    height: 100vh;
    float: left;
}
#profileImage
{
    width: 45%;
    height: 23%;
    margin-left: 27.5%;
    margin-top: 10vh;
    border-radius: 50%;
    border: 4px solid;
    border-color:rgb(199,199,17);
}
.links{
    margin-top: 8%;
    width: 100%;
}
.btns1{
    display: flex;
    color: white;
    background-color: rgb(24,24,18);
    border: none;
    width: 80%;
    height: 7vh;
    padding-left: 35%;
    padding-right: 0%;
    padding-top: 5%;
    margin-left: 10%;
    cursor: pointer;
    border-radius: 50px;
    font-weight:900;

}
.btns2
{
    display: flex;
    color: white;
    background-color: rgb(24,24,18);
    border: none;
    width: 80%;
    height: 7vh;
    padding-left: 30%;
    padding-right: 0%;
    padding-top: 5%;
    margin-left: 10%;
    cursor: pointer;
    border-radius: 50px;
    font-weight:900;
}
.btns1:hover{
    background-color: rgb(199,199,17);
    color: black;
    font-weight:900;
}
.btns2:hover{
    background-color: rgb(199,199,17);
    color: black;
    font-weight:900;
}
.icons-links
{
    width: 80%;
    height: 7vh;
    margin-left: 16%;
    margin-top: 8%;
}
#linkedin{
    width:7%;
    height:3vh;
    padding-left: 5%;
    padding-right: 5%;


}
#insta{
    width:7%;
    height:3vh;
}
#github{
    width:7%;
    height:3vh;
}
.icons:hover
{
    cursor: pointer;

}
.icons{
    margin-left: 11.66%;
    aspect-ratio: 3/2;
    border-color: rgb(28, 32, 29);
    
}
#linkedin
{
   
   mix-blend-mode: color-burn;
}
#github{
    
    background-color: rgb(28, 32, 29);
}
#nameinAbout{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#name{
    margin-left: 32%;
}
#student{
    margin-left: 15%;
}
a{
    text-decoration: none;
}
/*About me css */
#skillsHeading{
    padding-left: 40%;
}
.animations{
    width:100%;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
}
.html
{
    margin-left:40vh;
    margin-right: 40vh;
    margin-top: 8vh;
    padding-left: 8vh;
    padding-right: 6vh;
    padding-top: 6vh;
    padding-bottom: 8vh;
    font-size:30px;
    border: 1px groove rgb(35, 35, 27);
    box-shadow:2px 2px 12px 12px rgb(17, 17, 16);
    border-radius: 80px;
}
#html{
    margin-left: 190px;
}
#css{
    margin-left: 220px;
}
#java{
    margin-left: 75px;
}
#cpp{
    margin-left: 215px;
}
#C{
    margin-left: 30px;
}
#linkedin{
    background-color: transparent;
            mix-blend-mode: color-dodge;   
}
#github{
    mix-blend-mode: color-dodge;
    background-color: transparent;   
    height: 26px;
    width: 40px;
}
.html:hover{
    box-shadow:2px 2px 17px 17px rgb(16, 16, 15);
    background-color: rgb(22, 22, 17); 
    
}
#profileImage:hover
{
    cursor: pointer;
}
